<h1>Tasks list</h1>
<div>
  <%= link_to "Add a new task", new_task_path %>
</div>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.name.capitalize, task_path(task.id) %>
      <%= link_to edit_task_path(task.id) do %>
        <i class="fa fa-plus" aria-hidden="true"></i>
      <% end %>
      <%= link_to task_path(task), method: :delete,
      data: {confirm: "Sure you want to delete #{task.name}"} do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
    </li>
  <% end %>
</ul>
